<app-layout>
  <div class="jumbotron">
    <h1>Administrative Portal</h1>
    <p>
      As an administrator, you can use the administration portal to manage other users, groups, and roles to control access to the applications and assets available on a portal server. 
    </p>
  </div>

  <carousel [interval]="1500">
    <slide>
      <img src="assets/images/la.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/lo.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/images/ly.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>  

</app-layout>